<!DOCTYPE html>
<html>
<head>
    <title>Banterbird</title>
    <script src="/static/js/app.js" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class = "center">Banterbird</h1>
    <button onclick="darkMode()">Dark Mode</button>
    <img src = "https://i.redd.it/vq0ud3eojj881.jpg" alt="Italian Trulli" width="80" height="100">
    <div>
        Logged in as: <strong id="username">admin</strong>
    </div>
    <div>
        <h3>New Post</h3>
        <textarea id="postInput" placeholder="What's on your mind?"></textarea><br>
        <button onclick="submitPost()">Tweet</button>
    </div>
    <hr>
    <h3>Feed</h3>
    <div id="feed"></div>

    <template id="post-template">
        <div class="post roundcorner">
            <p><strong class="username"></strong>: <span class="message"></span></p>
            <small class="timestamp"></small>
        </div>
    </template>
</body>
</html>
